<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <% if @issues.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <table class="list issues">
        <thead>
        <tr>
            <th>#</th>
            <th><%= l(:field_subject) %></th>
            <th>Test Case #</th>
            <th>Step #</th>
            <th>Action</th>
            <th>Expected Results</th>
        </tr>
        </thead>
        <tbody>
        <% for issue in @issues %>
          <tr id="issue-<%= h(issue.id) %>" class="jstree-draggable <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
              <td class="id">
                  <%= h(issue.id) %>
              </td>
              <td class="subject">
                  <%= h(truncate(issue.subject, :length => 60)) %> (<%= h issue.status %>)
              </td>
              <% if issue.test_cases.present? %>
              <td><%= raw issue.test_cases.map {|tc| tc.id}.join('<br/>') %></td>
              <td><%= raw issue.test_cases.map {|tc| tc.test_steps.map {|ts| ts.step_number}.join('<br/>')}.join('') %></td>
              <td><%= raw issue.test_cases.map {|tc| tc.test_steps.map {|ts| ts.actions}.join('<br/>')}.join('') %></td>
              <td><%= raw issue.test_cases.map {|tc| tc.test_steps.map {|ts| ts.expected_results}.join('<br/>')}.join('') %></td>
              <% end %>
          </tr>
        <% end %>
        </tbody>
    </table>
    <p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
  <% end %>
<% end %>
